# Ignore Python virtual environment
venv/

# Ignore environment variable files
.env
.env.*
info.md

# ignore temp script
test.py

# ignore cache
__pycache__/

# ignore folder for misc files
misc_files/